

.container{
	width: 1000px;
	margin:auto;
}

/*start Header1*/
.nav{
	background-color: #bdc3c7;
	color: #2c3e50;
	overflow: hidden;
}
 .content .icon{
	float: left;
	width: 15px;
	margin: 10px 5px 0px 10px;
}
.icon1 .content  .icon{
	float: right;
	width: 15px;
}

.nav .content .icon img{
	max-width: 100%;
	margin: 10px 0px 10px 0;
}

.nav .content .text{
	float: left;

}
.nav .content .text h6{
	margin-bottom: 5px;
}
/*End Header1*/

/*start Header2*/
.nav1{
	background-color: #ffffff;
	padding-bottom: 5%;
}
 .nav1 .container h2{
 	float: left;
 }

 .nav1 ul{
	display: inline;
	list-style-type: none;  
	float: left;
}

 .nav1 ul li{
	float:left;
	padding-top: 10px;
	padding-bottom: 10px;


}
 #nav11{
	padding-left: 46px;
	padding-right: 700px;

}
 .nav1 ul li a{
	color: #2c3e50;
	text-decoration: none;
}


/*End Header2*/

/*start slider*/
.header .slider{
	background-color: #b4c3c7;
	height: 600px;
	background-image: url('../images/1.jpg');
	background-size: cover; 
}

.header .slider .intro{
	text-align: center;
	padding-top: 250px;
	color: #FFF;
}

.header .slider .intro h1{
	margin: 0 auto;
	font-size: 40px;
	width: 550px;
	padding: 5px 0;
	text-transform: uppercase;
}
.header .slider .intro p{
	color: #b4c3c7
}

.header .slider .intro button{
	color: #FFF;
	background:#2ecc71;
	margin-top: 30px;
	font-size: 20px;
	border:2px solid #2ecc71;
	padding: 10px 20px;
	border-radius: 0.5em;
}

/*End slider*/

/*start beautiful*/
.beautiful{
	background-color: #ffffff;
	overflow: hidden;
	height: 150px;
}

div.beautiful1 h2{
	color: #444;
	text-align: center;
	margin-top: 5%;
}
div.beautiful1 p{
	line-height: 1.5;
	color:#888;
	text-align: center;
}
/*End beautiful*/

/*Start passion*/
.passion{
	overflow: hidden;
	padding-top: 40px;
	padding-bottom: 70px;
}

.passion .passion1{
	float: left;
	width: 33.33333%;
	height: 150px;

}

.passion .passion1 h2{
	color: #444;
}

.passion .passion1 p{
	line-height: 1.5;
	color:#888;
	padding: 0px 90px 50px 40px;

}
 .passion1 .icon{
	float: left;
	width: 45px;
}


.passion1 .icon img{
	max-width: 100%;

}

/*End passion*/

/*start worke*/
.worke{
	background-color: #bdc3c7;
	overflow: hidden;
	height: 350px;
	padding: 50px;

}
.worke .worke1 button{
	color: #ffffff;
	background:#2ecc71;
	font-size: 20px;
	border:3px solid #2ecc71;
	padding: 10px 20px;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	display:block;	
	border-radius: 0.3em;
}
div.worke1 h2{
	color: #42425b;
	text-align: center;
	margin-top: 10%;
}
div.worke1 p{
	line-height: 1.5;
	color:#42425b;
	text-align: center;
}
/*End worke*/


/*Start Footer*/
.Footer{
	overflow: hidden;
	background-color: #34495e;
	color: #bdc3c7;
	padding-top: 70px;
	padding-bottom: 5px;
	}

.Footer .Footer1{
	float: left;
	width: 25%;
	height: 350px;
	
}

.Footer .Footer1 h2{
	color: #ffffff;

}

.Footer .Footer1 .icon img{
	max-width: 7%;
	float: left;
	padding-left: 5px;

}
.Footer .Footer1 .icon1 img{
	max-width: 5%;
	float: right;
	padding-right: 135px;
	padding-top: 10px;


}
.Footer .Footer1 p{
	color: #bdc3c7;
}


/*End Footer*/

/*start Footer1*/
.Footer2{
	background-color: #2c3e50;
	color: #ffffff;
	overflow: hidden;
}
 .Footer3 .icon{
	float: left;
	width: 20px;
	margin: 10px 15px 10px 10px;
}

.Footer2 .Footer3 .icon img{
	max-width: 100%;
	margin: 10px 0px 10px 0;
}

.Footer2 .Footer3 .text{
	float: left;
}

/*End Footer1*/